.wrapper{
  //Estilos contenedor del carusel
  width: 100%;
  position: relative;

  .carousel{
    //Estilos del carusel
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;

    &::-webkit-scrollbar{
      display: none;
    }

    .card{
      //Estilos de las tarjetas
      scroll-snap-align: start;
      max-height: 398px;

      .card-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;

        .card-img{
          object-fit: cover;
        }

        .button-card{
          background-color: #FFF;
          position: absolute;
          z-index: 20;
          justify-content: center;
          margin: 20px 20px;
          padding: 10px 0;
          border-radius: 20px;
          text-decoration: none;
          color: $color-pink-dark;
          font-size: 14px;
          font-family: 'neogrotesk', sans-serif;
          text-transform: uppercase;
          text-align: center;
          width: 90%;
          transition: all 0.3s ease-in-out;

          &:hover{
            color: $color-pink-hover;
            border: 1px solid $color-pink-hover;
          }
        }
      }

      .card-body{
        margin-top: 18px;

        .card-title{
          font-family: 'filson-pro-medium', sans-serif;
          font-size: 18px;
          color: $color-gray;
        }

        .card-info{

          span{
            font-family: 'filson-pro-book', sans-serif;
            font-size: 14px;
            color: $color-gray-light;
            margin-left: 5px;
          }

          .rating{
            display: flex;
            margin-top: 6px;
          }

          .star-yellow{
            color: #FDC830;
          }

          .star-gray{
            color: $color-gray-light;

          }

          .price{
            font-family: 'filson-pro-medium', sans-serif;
            font-size: 15px;
            color: $color-gray;
            margin-top: 10px;
            display: flex;

            .sales{
              font-family: 'filson-pro-book', sans-serif;
              font-size: 15px;
              color: $color-gray-light;
              text-decoration: line-through;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}


// para suavisar el scroll de las cards
.carousel.dragging{
  scroll-behavior: auto;
  scroll-snap-type: none;
}

// para que el cursor se vea como una mano y no se selccione el texto al arrastrar
.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}

@media screen and (min-width: 600px) {
  .card-info{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}
