footer{
  margin-top: 250px;
}

footer h2{
  text-align: center;
  font-family: 'Abhaya Libre', serif;
  font-size: 44px;
  line-height: 61.6px;
  font-weight: 700;
  margin-bottom: 35px;
}

footer p{
  text-align: center;
  font-size: 15px;
  color: #939393;
  font-family: 'filson-pro-book' ,serif;
}

footer form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding-top: 30px;
  padding-bottom: 73px;
}

footer form input{
  border-radius: 100px;
  border: 0;
  outline: 0;
  padding: 11px 24px;
  width: 300px;
  background-color: #FFF;
  font-family: 'filson-pro-medium', serif;
  line-height: 27px;
  font-size: 15px;
  border: 1px solid #EFA693;
  &:focus{
    border: 1px solid #e88d76;
  }
}

footer form button{
  border-radius: 100px;
  border: 0;
  padding: 12px 40px;
  background-color: #EFA693;
  opacity: .9;
  color: #FFF;
  font-family: 'neogrotesk', sans-serif;
  line-height: 23.8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    background-color: #e88d76;
  }
}

.bg-wave{
  width: 100%;
  height: 500px;
  background: #D1F1FF;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.wave{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 500px;
  left: 0;
  vertical-align: top;
  background: url(../images/wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}
