.top-bar{
  height: 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
}

h1{
  margin: 0;
  font-size: 44px;
  // text-transform: capitalize;
  font-family: 'Abhaya Libre', serif;
  line-height: 140%;
}

header{
  display: flex;
  justify-content: space-around;

  .relative{
    position: relative;
  }
}


.box-blue{
  background-color: #CAF0FF;
  width: 70px;
  height: 24px;
  position: absolute;
  top: 37px;
  left: -23px;
  z-index: -1;
  border-radius: 100px;
}
