body{
  //color de fondo
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}


@import 'colors';
@import 'fonts';
@import 'header';
@import 'main';
@import 'footer';
@import 'card';
